USE AdventureWorks
INSERT OrdersSchema.Orders
VALUES (1)
SELECT * FROM OrdersSchema.Orders
GO

DROP USER Ted
GO

INSERT OrdersSchema.Orders
VALUES (1)
SELECT * FROM OrdersSchema.Orders
GO
