<?xml version="1.0"?>
<configuration>
	<system.web>
		<authentication mode="Windows">
		</authentication>
		<authorization>
			<allow users="*"/>
		</authorization>
		<identity impersonate="true" userName="SQLServer" password="P@ssw0rd"/>
		<compilation debug="true"/>
	</system.web>
</configuration>
